/* Homepage Styling */
.navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.navbar-brand{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.navbar-text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 100;
}

.carousel-caption {
  font-family: "Roboto", sans-serif;
}

.body {
  font-family: "Roboto", sans-serif;
}

.push-navbar-down {
  height: 56px;
}

.carousel-banner-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/homepage-carousel-banner1.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-banner-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/homepage-carousel-banner2.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-banner-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/homepage-carousel-banner3.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron-picture {
  background-image: url("../images/hompage-jumbotron-wedding.jpg");
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  color: whitesmoke;
}

.about-us > .row > .col-lg-4 {
  text-align: center;
}

/* Home Featurette */
.featurette-image {
  height: 300px;
}

.featurette-divider {
  margin: 2rem;
}

.featurette-heading {
  margin-top: 5rem;
}

/* Apply Page */
.apply-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/apply-banner.jpg");
  height: 24rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.apply-banner > h1 {
  color: white;
  margin-top: 5rem;
}

.apply-banner > h3 {
  color: white;
}

.sign-up-heading,
.sign-up-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.sign-up-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.past-courses-section {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Testimonial */
.testimonial-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/testimonial-banner.jpg");
  height: 24rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.testimonial-banner > h1 {
  color: white;
  margin-top: 10rem;
}

.testimonial-banner > h4 {
  color: white;
}

/* Our Team */
.our-team-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/team-banner.jpg");
  height: 24rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.our-team-banner > h1 {
  color: white;
  margin-top: 5rem;
}

.our-team-banner > h3 {
  color: white;
}

.our-team {
  text-align: center;
}

.team-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Adjust Text margin under team portraits */
.team-row > .col-12 > h2 {
  margin-top: 20px;
}

.team-row > .col-6 > h2 {
  margin-top: 20px;
}

/* faq section */
.faq-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/faq-banner-faqs.jpg");
  height: 24rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.faq-banner > h1 {
  color: white;
  margin-top: 10rem;
}

.faq-banner > h4 {
  color: white;
}

/* Footer */
.footer {
  background-color: #f5f5f5;
}
